@import "tailwindcss" source(none);
@source "../**/*.{ts,tsx}";

/* Styles for ui components are imported directly from the ui-registry package */
@import "@tambo-ai/ui-registry/styles.css";
@import "@tambo-ai/ui-registry/styles/globals-v4.css";
